logs
*.log
*.tgz
npm-debug.log*
.DS_Store

coverage
node_modules
build
cache
public/static
docs
lib
dist
config/local.*
config/local-*
*.tsbuildinfo
storybook-static
junit
.env.local
.env.development.local
.env.test.local
.env.production.local
.@tablecheck
/Users/simeon.cheeseman/Development/tablecheck-react-system/.@tablecheck
tsconfig.compound.json
/packages/quality/build.config.ts
/packages/utils/build.config.ts
/tsconfig.eslint.json
/packages/utils/config
