logs
*.log
*.tgz
npm-debug.log*
.DS_Store

coverage
node_modules
build
cache
public/static
./docs
lib
dist
config/local.*
config/local-*
*.tsbuildinfo
storybook-static
junit
.env.local
.env.development.local
.env.test.local
.env.production.local
.@tablecheck
/packages/quality/build.config.ts
/packages/utils/build.config.ts
/packages/utils/config
/.nx
