package-lock.json
.npm-upgrade.json
.eslintignore
lerna-debug.log
coverage
build
dist
.DS_Store
.gitignore
.nvmrc
.prettierignore
styleguide
CHANGELOG.md
.all-contributorsrc
/.nx/cache
/.nx/workspace-data